@import "./base/reset";
@import "./base/base";

@import "./utils/variables";
@import "./utils/utilities";


// *{
//     outline: 1px solid rosybrown;
// }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    cursor: pointer;
    padding: 8px 16px;
    margin-left: 16px;
    border: none;
    border-radius: 4px;
}

.card-wrap {
    width: 100%;
    .card {
        width: 30%;
        margin-right: 48px;
        border: 1px solid $color-basic-b;
        border-radius: 8px;
    }
    .card:nth-child(3n) {
        margin-right: 0;
    }
}

.card-btn {
    cursor: pointer;
    color: $color-basic-b;
    &:hover {
        color: $color-secondary;
    }
}
.submit-btn {
    background-color: $color-primary;
    color: #fff;
}
input[type=text] {
    padding: 8px;
    color: $color-basic-b;
}

.decoration-line-b {
    border-bottom: 1px solid $color-basic-b;
}
.decoration-line-l {
    border-left: 4px solid $color-primary;
}
.word-wrap-break {
    word-wrap: break-word;
}